Part_1/mlruns
Part_1/.ipynb_checkpoints
Part_1/*.csv

Part_2/data
Part_2/01-Kaggle-Taxi-Fare/data
Part_2/01-Kaggle-Taxi-Fare/*.csv
Part_2/01-Kaggle-Taxi-Fare/.ipynb_checkpoints
Part_2/01-Kaggle-Taxi-Fare/GCP-Coupons-Instructions.rtf

Part_2/02-Taxi-Fare-Pipeline/*.csv
Part_2/02-Taxi-Fare-Pipeline/.ipynb_checkpoints
Part_2/02-Taxi-Fare-Pipeline/img

Part_2/03-Notebook-to-package/TaxiFareModel/*.csv
Part_2/03-Notebook-to-package/TaxiFareModel/.ipynb_checkpoints

Part_2/04-MLFlow-quickstart/*.csv
Part_2/04-MLFlow-quickstart/Etape4/.ipynb_checkpoints

